#header {
	width: 100%;
	background-color: black;
	height: 60px;
	position: fixed;
	top: 0;
}
li {
	color: white;
	display: inline-block;
	font-family: cursive;
}
body {
	margin: auto;
	background-image: url(http://dreamatico.com/data_images/ocean/ocean-2.jpg);
}
p:first-child {
	text-align: center;
	font-family: Arial;
	padding: 100px;
}
p:nth-child(2) {
	text-align: center;
	font-family: Arial;
	float: center;
	position: relative;
	padding: 20px;
} 
