#header {
	width: 100%;
	background-color: black;
	height: 60px;
	position: fixed;
	top: 0;
}
li {
	color: white;
	display: inline-block;
	font-family: cursive;
}
body {
	margin: auto;
	background-image: url(http://dreamatico.com/data_images/ocean/ocean-2.jpg);
}
h1 {
	text-align: center;
	font-family: Arial;
	font-size: 15px;
	line-height: 150px;
}
p {
	text-align: center;
	font-family: Arial;
	float: center;
	position: relative;
} 
